@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aileron-Heavy";
  src: url("../fonts/Aileron-Heavy.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: "Aileron", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f4f4f4;
}

header {
  background: black;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-family: "Aileron-Heavy";
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

.hero {
  margin-top: 60px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.active-slide {
  display: block;
}

.sannc {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
}

.sannc h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Aileron-Heavy";
}

.transcript-button-container {
  margin-top: 0px;
}

.transcript-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Aileron-Heavy";
  transition: background-color 0.3s ease;
}

.transcript-btn:hover {
  background-color: #333;
}

.transcript-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
}

.info {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
}

.info h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Aileron-Heavy";
}

.info p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Aileron";
}

.services {
  padding: 50px 20px;
  background: #fff;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Aileron-Heavy";
}

.service-card {
  background: black;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  width: calc(33% - 40px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  vertical-align: top;
  color: white;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Aileron-Heavy";
}

.service-card p {
  font-size: 18px;
  font-family: "Aileron";
}

.testimonials {
  padding: 50px 20px;
  background: #f4f4f4;
  text-align: center;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Aileron-Heavy";
}

.testimonial {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  width: calc(33% - 40px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  vertical-align: top;
}

.testimonial p {
  font-size: 18px;
  font-family: "Aileron";
}

.testimonial h4 {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Aileron-Heavy";
  text-align: right;
}

.footer {
  background: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Aileron-Heavy";
}

.footer-section p,
.footer-section ul,
.footer-section li {
  font-size: 18px;
  font-family: "Aileron";
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ccc;
}

.footer-bottom {
  background: black;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: "Aileron-Heavy";
  margin-top: 20px;
}

.audio-container {
  background-color: transparent;
  padding: 10px;
  width: 500px;
  display: inline-block;
}

.styled-audio {
  width: 100%;
  border-radius: 10px;
  font-family: "aileron-heavy";
}

audio::-webkit-media-controls-panel {
  background-color: black;
  border-radius: 10px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider {
  filter: invert(100%);
}

audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-download-button {
  display: none;
}
